# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.idea
.Python

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Allure reports
#Task2/allure-results/
